{% extends "base.html" %}

{% block content %}
    <head>
        <h1>new post</h1>
        <style>
            .error {color:red;}
        </style>
    </head>    
    <table>
        <form action="/newpost" method="POST">
    <tbody> 
        <tr>
            <td>
                <label for="title">
                    Title: 
                </label>
                <br>
                <input id="title" type="text" name="blogtitle"/>
                <span class="error">{{err_name}}</span>
                <br>
                <br>
                <br> 

            </td>
        </tr>        

        <tr>
            <td>
                <label>
                    Post: 
                </label> <br>
                <!-- <input id="bblog" type="text" name="blogbody"/> -->
                <textarea name="blogbody" cols="25" rows="10"></textarea>
                <span class="error">{{err_name}}</span>
                <br>
                <br>
                <br> 
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </tbody>
    </table>            
    </form>
{% endblock %}