{% extends "base.html" %}

{% block content %}
    <head>
        <h1 style="text-align:center;">Build a Blog</h1>
    </head>  
    <body style="font-family: Verdana">
        
        {% for blog in blogs %}
            <ul style="list-style:none;margin:0 0 20px 0;padding:0;">
                <li>
                    <a href="/view_blog?id={{blog.id}}">{{blog.name}}</a>
                    <div>{{blog.body}}</div>
                </li>    
            </ul>  
            <hr>
 <!--            <div>
                <a name=blog.name></a>
            </div>              -->     
        {% endfor %}
        
    </body>
    </form>
{% endblock %}