{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<style>
    .error {color:red;}
</style>

<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="uname">Username</label></td>
            <td>
                <input name="uname" type="text" value="{{ uname }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error">{{err_vefy}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}